# Ignorar todas las carpetas .vs, bin, obj en todos los niveles
**/.vs/
**/bin/
**/obj/

# Ignorar archivos específicos en todos los niveles
**/*.suo
**/*.user
**/*.cache
**/*.dll
**/*.pdb
**/*.exe
**/*.json
